body {
    font-family: sans-serif;
    background-color: transparent;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
    color: #213F41;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    min-height: 100%;
}

header {
    background: lightyellow;
    padding: 20px 15px 100px 15px;
    position: relative;
    margin-bottom: 15px;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

select {
    border: 0;
    border-radius: 0;
    padding: 10px 15px;
}

button {
    border: 0;
    border-radius: 0;
    padding: 10px 15px;
}

button:hover {
    background: grey;
    color: #fff;
}

.button-success {
    background: green;
    color: #fff;
}

.button-warning {
    background: red;
    color: #fff;
}

.button-info {
    background: blue;
    color: #fff;
}

#login-dropdown-list {
    right: -1px;
    left: inherit;
    border-radius: 0;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    border: 0;
    border-radius: 0;
}

#login-buttons input[type="text"], .accounts-dialog input[type="text"], #login-buttons input[type="email"], .accounts-dialog input[type="email"], #login-buttons input[type="password"], .accounts-dialog input[type="password"] {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid grey;
}

.new-pizza input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-pizza input:focus {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-pizza input {
        padding-bottom: 5px;
    }
}